<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>更新员工信息</title>
</head>
<body>
<form th:action="@{/emp}" method="post">
    <input type="hidden" name="id" th:value="${emp.id}">
    <input type="hidden" name="_method" value="put">
    lastName:<input type="text" name="lastName" th:value="${emp.lastName}"><br>
    email:<input type="text" name="email" th:value="${emp.email}"><br>
    gender:<input type="radio" name="gender" value="1" th:field="${emp.gender}">male
    <input type="radio" name="gender" value="0" th:field="${emp.gender}">female<br>
    <input type="submit" value="update"><br>
</form>
</body>
</html>